#certificates-page
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 350px), 1fr))
  article
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px
    border: 2px outset white
    border-radius: 10px
    background-color: #0064d2
