@use '../../variables'

@keyframes blinker
  50%
    opacity: 0

#certificates-page .grid
  display: grid
  gap: 10px
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 330px), 1fr))
  article
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px
    border: 2px outset white
    border-radius: 10px
    background-color: #0064d2
    cursor: pointer
    section
      &:nth-child(2)
        flex-shrink: 0
        padding-right: 12px
      p
        font-size: variables.$font-size-small
      svg
        fill: white
        &.pending
          animation: blinker 1s linear infinite
