#athlete-page
  > p
    text-align: center
  button.add-admin
    background-color: gold
    &:disabled
      background-color: #ffc680
      cursor: not-allowed
  .group-legend, .user-attendances-grid
    align-self: center
