@use '../../../../components/placeholderSass/TwoColumnGrid'

#subscriptions-page
  > div.grid
    @extend %two-column-grid
    align-self: center
    row-gap: 10px
    p.good
      color: green
      &::before
        content: '✅ '
    p.bad
      color: red
      &::before
        content: '❌ '
