@use '../variables'

#home-page
  .day-of-week, .days-of-week
    font-weight: bold
  .non-cancelable
    align-self: center
    color: red
  .non-cancelable, .more-info
      font-size: variables.$font-size-extra-small
