#leaderboard-page
  align-items: center
  > p
    text-align: center
  > div
    width: 100%
    max-width: 500px
    overflow-x: scroll
    display: grid
    grid-template-columns: min-content 1fr
    row-gap: 10px
    align-items: end
    font-size: 20px
    font-weight: 300
    :nth-child(-n+2)
      font-weight: 500
      padding-bottom: 10px
      border-bottom: 1px dotted white
    :nth-child(even)
      text-align: right
