a.athlete-status
  display: flex
  flex-wrap: wrap
  column-gap: 10px
  color: green
  &.notfound
    color: black
  &.almostExpired
    color: darkorange
  &.expired
    color: red
  svg
    fill: green
    &.notfound
      fill: black
    &.almostExpired
      fill: darkorange
    &.expired
      fill: red
