body
  background-color: #00a1d2
  font-family: 'DM Mono', monospace
  font-weight: normal
  font-style: normal

main
  display: flex
  flex-direction: column
  margin: 30px
  gap: 20px
  font-size: 24px
  color: white
  form
    display: flex
    flex-direction: column
    gap: 20px
  input, button, select
    padding: 0 15px
    height: 50px
    border: 1px solid transparent
    border-radius: 10px
  input[type=submit], button
    color: inherit
    background-color: #4c5f87
    text-transform: uppercase
    cursor: pointer
    &:disabled
      background-color: #697287
