body
  background-color: #00a1d2
  
main
  display: flex
  flex-direction: column
  margin: 30px
  form
    gap: 20px
  input, button, select
    height: 50px
    border-radius: 10px
  input[type=submit], button
    color: white
    background-color: #4c5f87
    text-transform: uppercase
