name: Deploy docker images to GitHub Container Registry

on:
  push:
    branches: ['master']
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read
  packages: write

# Allow one concurrent deployment
concurrency:
  group: 'docker'
  cancel-in-progress: true

jobs:
  build-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image-name: ['attendance-exporter', 'attendance-reminder', 'backup-db']
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          file: ./jobs/${{ matrix.image-name }}/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/${{ matrix.image-name }}:latest
